streamlit
PyPDF2
pdfplumber
pypandoc
langchain_community
langchain_google_genai
python-docx
docx2txt
faiss-gpu
google-generativeai
sentence_transformers
Transformers
openai==0.28.0
nltk
matplotlib
IPython
pdf2image 
docx2pdf
Pillow